@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
html {
    //overflow: hidden !important
    .v-application {
        font-family: 'Montserrat Alternates', sans-serif;
    }
}

.toBottom {
    bottom : -20px;
    transition: all
}
.fromTop {
    top : -20px
}